In [1]:
import pandas as pd

In [4]:
smmh_file_path = 'smmh.csv'

In [5]:
smmh_data = pd.read_csv(smmh_file_path)

smmh_data.describe()

,Age,NumberofSocialMediaPlatforms,Frequency,Distraction,Restlessness,Anxiety,ConcentrationDifficulty,SelfComparision,PostSentiment,ValidationSeeking,Depression,ActivityInterest Variance,Sleeplessness
count,479.000000,479.000000,479.000000,479.000000,479.000000,479.000000,479.000000,479.000000,479.000000,479.000000,479.000000,479.000000,479.000000
mean,26.164301,4.263048,3.344468,3.315240,2.582463,3.567850,3.244259,2.830898,2.774530,2.457203,3.260960,3.173278,3.202505
std,9.925197,1.972009,1.175199,1.328319,1.254692,1.278683,1.349432,1.410735,1.056608,1.249998,1.311663,1.258127,1.458891
min,13.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,21.000000,3.000000,3.000000,2.000000,2.000000,3.000000,2.000000,2.000000,2.000000,1.000000,2.000000,2.000000,2.000000
50%,22.000000,4.000000,3.000000,3.000000,2.000000,4.000000,3.000000,3.000000,3.000000,2.000000,3.000000,3.000000,3.000000
75%,26.000000,6.000000,4.000000,4.000000,3.000000,5.000000,4.000000,4.000000,3.000000,3.000000,4.000000,4.000000,5.000000
max,91.000000,9.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [37]:
smmh_data.head()

,Age,Gender,RelationshipStatus,Occupation,Organization,SocialMedia,SocialMediaPlatforms,NumberofSocialMediaPlatforms,HoursSpent,Frequency,Distraction,Restlessness,Anxiety,ConcentrationDifficulty,SelfComparision,PostSentiment,ValidationSeeking,Depression,ActivityInterest Variance,Sleeplessness
0,21.0,Male,In a relationship,University Student,University,Yes,"Facebook, Twitter, Instagram, YouTube, Discord...",6,2 to 5,5,3,2,2,5,2,3,2,5,4,5
1,21.0,Female,Single,University Student,University,Yes,"Facebook, Twitter, Instagram, YouTube, Discord...",6,More than 5,4,3,2,5,4,5,1,1,5,4,5
2,21.0,Female,Single,University Student,University,Yes,"Facebook, Instagram, YouTube, Pinterest",4,2 to 5,2,2,1,5,4,3,3,1,4,2,5
3,21.0,Female,Single,University Student,University,Yes,"Facebook, Instagram",2,More than 5,3,2,1,5,3,5,1,2,4,3,2
4,21.0,Female,Single,University Student,University,Yes,"Facebook, Instagram, YouTube",3,2 to 5,4,5,4,5,5,3,3,3,4,4,1

In [6]:
smmh_data.columns

Index(['Age ', 'Gender', 'RelationshipStatus', 'Occupation ', 'Organization',
       'SocialMedia', 'SocialMediaPlatforms', 'NumberofSocialMediaPlatforms',
       'HoursSpent', 'Frequency', 'Distraction', 'Restlessness', 'Anxiety',
       'ConcentrationDifficulty', 'SelfComparision', 'PostSentiment',
       'ValidationSeeking', 'Depression', 'ActivityInterest Variance',
       'Sleeplessness'],
      dtype='object')

In [7]:
smmh_data = smmh_data. dropna(axis = 0)

In [8]:
y = smmh_data.ConcentrationDifficulty

In [30]:
smmh_features = ['Age ', 'NumberofSocialMediaPlatforms', 'Frequency', 'Distraction', 'Restlessness', 'Anxiety','SelfComparision', 'PostSentiment',
       'ValidationSeeking', 'Depression', 'ActivityInterest Variance',
       'Sleeplessness']

In [31]:
X = smmh_data[smmh_features]

In [32]:
X.describe()

,Age,NumberofSocialMediaPlatforms,Frequency,Distraction,Restlessness,Anxiety,SelfComparision,PostSentiment,ValidationSeeking,Depression,ActivityInterest Variance,Sleeplessness
count,479.000000,479.000000,479.000000,479.000000,479.000000,479.000000,479.000000,479.000000,479.000000,479.000000,479.000000,479.000000
mean,26.164301,4.263048,3.344468,3.315240,2.582463,3.567850,2.830898,2.774530,2.457203,3.260960,3.173278,3.202505
std,9.925197,1.972009,1.175199,1.328319,1.254692,1.278683,1.410735,1.056608,1.249998,1.311663,1.258127,1.458891
min,13.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,21.000000,3.000000,3.000000,2.000000,2.000000,3.000000,2.000000,2.000000,1.000000,2.000000,2.000000,2.000000
50%,22.000000,4.000000,3.000000,3.000000,2.000000,4.000000,3.000000,3.000000,2.000000,3.000000,3.000000,3.000000
75%,26.000000,6.000000,4.000000,4.000000,3.000000,5.000000,4.000000,3.000000,3.000000,4.000000,4.000000,5.000000
max,91.000000,9.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [33]:
X.head()

,Age,NumberofSocialMediaPlatforms,Frequency,Distraction,Restlessness,Anxiety,SelfComparision,PostSentiment,ValidationSeeking,Depression,ActivityInterest Variance,Sleeplessness
0,21.0,6,5,3,2,2,2,3,2,5,4,5
1,21.0,6,4,3,2,5,5,1,1,5,4,5
2,21.0,4,2,2,1,5,3,3,1,4,2,5
3,21.0,2,3,2,1,5,5,1,2,4,3,2
4,21.0,3,4,5,4,5,3,3,3,4,4,1

In [34]:
from sklearn.tree import DecisionTreeRegressor

smmh_model = DecisionTreeRegressor(random_state = 1)

smmh_model.fit(X,y)

DecisionTreeRegressor(random_state=1)

In [36]:
print(" We will make predictions for the following 5 people")

print(X.head())

print(" These 5 people have this level of concentration difficulty")

print(smmh_model.predict(X.head()))

 We will make predictions for the following 5 people
   Age   NumberofSocialMediaPlatforms  Frequency  Distraction  Restlessness  \
0  21.0                             6          5            3             2
1  21.0                             6          4            3             2
2  21.0                             4          2            2             1
3  21.0                             2          3            2             1
4  21.0                             3          4            5             4

   Anxiety  SelfComparision  PostSentiment  ValidationSeeking  Depression  \
0        2                2              3                  2           5
1        5                5              1                  1           5
2        5                3              3                  1           4
3        5                5              1                  2           4
4        5                3              3                  3           4

   ActivityInterest Variance  Sleeplessness
0                          4              5
1                          4              5
2                          2              5
3                          3              2
4                          4              1
 These 5 people have this level of concentration difficulty
[5. 4. 4. 3. 5.]